﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html dir="ltr" lang="en-US" class="no-js ie ie6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" lang="en-US" class="no-js ie ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en-US" class="no-js ie ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en-US" class="no-js ie ie9 lte9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en-US">
 <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codrops | Useful resources and inspiration for creative minds</title>
    <link rel="stylesheet" type="text/css" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/css/main.css?v96" />
    <link rel="stylesheet" type="text/css" media="print" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/css/main_print.css" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <script src="//use.typekit.net/pdd7wbw.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="shortcut icon" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/codrops/wp-content/themes/codropstheme03/favicons/browserconfig.xml">


    <!-- This site is optimized with the Yoast SEO plugin v4.0 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Codrops is a web design and development blog that publishes articles and tutorials about the latest web trends, techniques and new possibilities." />
    <meta name="robots" content="noodp" />
    <link rel="canonical" href="https://tympanus.net/codrops/" />
    <link rel="next" href="https://tympanus.net/codrops/page/2/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Codrops | Useful resources and inspiration for creative minds" />
    <meta property="og:description" content="Codrops is a web design and development blog that publishes articles and tutorials about the latest web trends, techniques and new possibilities." />
    <meta property="og:url" content="https://tympanus.net/codrops/" />
    <meta property="og:site_name" content="Codrops" />
    <meta property="fb:admins" content="508764091" />
    <script type='application/ld+json'>
        {"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/tympanus.net\/codrops\/","name":"Codrops","potentialAction":{"@type":"SearchAction","target":"https:\/\/tympanus.net\/codrops\/?s={search_term_string}","query-input":"required name=search_term_string"}}
    </script>
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='wp_typeahead_css-css' href='https://tympanus.net/codrops/wp-content/plugins/wp-typeahead/css/typeahead.css?ver=4.6.1' type='text/css' media='all' />
    <script type='text/javascript' src='https://codropspz-tympanus.netdna-ssl.com/codrops/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://codropspz-tympanus.netdna-ssl.com/codrops/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <link rel='https://api.w.org/' href='https://tympanus.net/codrops/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://tympanus.net/codrops/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.6.1" />
    <script src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/js/search.js"></script>

    <script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-7243260-2']);
			  _gaq.push(['_trackPageview']);

			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
    </script>

    <script type="text/javascript" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/js/modernizr.custom.70736.js"></script>
    <!--[if lt IE 9 ]>
        <script type="text/javascript" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/js/css3-mediaqueries.js"></script>
        <link rel="stylesheet" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/css/ie.css"/>
    <![endif]-->
    <!--[if lt IE 8 ]>
        <script type="text/javascript" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/js/iconfonts.js"></script>
    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/css/noscript.css" />
    </noscript>
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://tympanus.net/codrops/",
        "potentialAction": {
        "@type": "SearchAction",
        "target": "https://tympanus.net/codrops/?s={search_term_string}",
        "query-input": "required name=search_term_string"
        }
        }
    </script>
</head>
<body id="codrops-body">
    <!-- BuySellAds.com Ad Code -->
    <script type="text/javascript">
			(function(){
				var bsa = document.createElement('script');
				bsa.type = 'text/javascript';
				bsa.async = true;
				bsa.src = '//s3.buysellads.com/ac/bsa.js';
				(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
			})();
    </script>
    <!-- END BuySellAds.com Ad Code -->
    <div class="ct-container">
        <header class="ct-header">
            <div class="ct-inner ct-cf">


                <h1 class="ct-branding">
                    <a class="ct-logo" href="/codrops" rel="home">Codrops</a>
                </h1>

                <div class="ct-nav-wrapper">
                    <nav class="ct-nav-main">
                        <ul>
                            <li><a href="/codrops/category/tutorials/">Tutorials</a></li>
                            <li><a href="/codrops/category/playground/">Playground</a></li>
                            <li><a href="/codrops/category/blueprints/">Blueprints</a></li>
                            <li><a href="/codrops/collective/">Collective</a></li>
                            <li><a href="/codrops/css_reference/">CSS Reference</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="ct-header-items-right ct-cf">
                    <div class="ct-search" id="ct-search">
                        <form method="get" id="searchform" action="https://tympanus.net/codrops/">
                            <div class="ct-search-input-wrap">
                                <input class="ct-search-input" placeholder="Search on Codrops..." type="text" value="" name="s" id="s" />
                            </div>
                            <input type="hidden" name="search-type" value="posts" />
                            <input class="ct-search-submit" type="submit" id="go" value=""><span class="ct-icon-search"></span>
                        </form>
                    </div>
                    <ul class="ct-connect">
                        <li><a class="ct-icon-feed" href="http://feeds2.feedburner.com/tympanus"><span>Rss Feed</span></a></li>
                        <li><a class="ct-icon-mail" href="http://feedburner.google.com/fb/a/mailverify?uri=tympanus&loc=en_US"><span>Email Updates</span></a></li>
                        <li><a class="ct-icon-twitter" href="http://www.twitter.com/codrops"><span>Codrops on Twitter</span></a></li>
                        <li><a class="ct-icon-facebook" href="http://www.facebook.com/pages/Codrops/159107397912"><span>Codrops on Facebook</span></a></li>
                        <li><a class="ct-icon-google-plus" href="https://plus.google.com/101095823814290637419" rel="publisher"><span>Codrops on Google+</span></a></li>
                        <li><a class="ct-icon-github" href="https://github.com/codrops"><span>Codrops on Github</span></a></li>
                    </ul>
                </div><!--/ct-header-items-right-->

            </div><!-- ct-inner -->
        </header><div class="ct-content ct-index">
            <div class="ct-inner">
                <div class="ct-main" role="main">
                    <!-- begin featured -->
                    <section class="ct-featured">
                        <article id="post-29312" class="post-29312 post type-post status-publish format-standard has-post-thumbnail hentry category-freebies tag-cooking tag-freebie tag-icon tag-kitchen tag-svg tag-tool">
                            <div class="ct-feat-left">
                                <div class="ct-feat-inner">
                                    <header>
                                        <h2><a href="https://tympanus.net/codrops/2016/12/16/freebie-kitchen-tools-ai-eps-svg-png/" class="ct-h-shd">Freebie: Kitchen Tools &#038; Appliances Icons (AI, EPS, SVG, PNG)</a></h2>

                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/freebies/">Freebies</a>
                                            by <a href="https://tympanus.net/codrops/author/brookwells/">Brook Wells</a>
                                            <time pubdate="pubdate">Dec 16</time>
                                        </p>
                                    </header>
                                    <p class="ct-feat-excerpt">
                                        A set of 20 easy-to-adjust, line-style kitchen tools and appliances icons in AI, EPS, SVG and ready-to-use, optimized PNG format.
                                    </p>
                                    <footer class="ct-feat-bottom">
                                        <a href="https://tympanus.net/codrops/2016/12/16/freebie-kitchen-tools-ai-eps-svg-png/">Read more</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="ct-feat-right">
                                <div class="ct-feat-inner">
                                    <a href="https://tympanus.net/codrops/2016/12/16/freebie-kitchen-tools-ai-eps-svg-png/" class="ct-feat-img ct-trans"><img width="580" height="315" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/12/KitchenIcons_Featured-1.jpg" class="attachment-580x315 size-580x315 wp-post-image" alt="kitchenicons_featured" srcset="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/12/KitchenIcons_Featured-1.jpg 580w, https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/12/KitchenIcons_Featured-1-300x163.jpg 300w" sizes="(max-width: 580px) 100vw, 580px" /></a>
                                    <div class="clr"></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                        </article>
                        <!-- end featured -->
                    </section>

                    <div class="index-wrap">
                        <!-- begin latest list -->
                        <div class="index-wrap-right">
                            <section class="ct-latest">
                                <h2 class="ct-section-heading-small">Latest Articles</h2>
                                <article id="post-28994" class="post-28994 post type-post status-publish format-standard has-post-thumbnail hentry category-freebies tag-christmas tag-freebie tag-geeky tag-pattern tag-vector">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/12/08/freebie-geeky-christmas-vector-set-patterns/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/12/GeekyChristmas_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="geekychristmas_featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/12/08/freebie-geeky-christmas-vector-set-patterns/">Freebie: Geeky Christmas Vector Set + Patterns</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/freebies/">Freebies</a>
                                            by <a href="https://tympanus.net/codrops/author/tatiana/">Tatiana Lapina</a>
                                            <time pubdate="pubdate">Dec 8, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/12/08/freebie-geeky-christmas-vector-set-patterns/#comments">3 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28980" class="post-28980 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-audio tag-instrument tag-interactive tag-music tag-svg tag-web-audio-api">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/12/06/interactive-musical-instruments/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/12/MusicalInteractions_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="musicalinteractions_featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/12/06/interactive-musical-instruments/">Interactive Musical Instruments</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/playground/">Playground</a>
                                            by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a>
                                            <time pubdate="pubdate">Dec 6, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/12/06/interactive-musical-instruments/#comments">22 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28860" class="post-28860 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-effect tag-hover tag-tilt">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/11/23/tilt-hover-effects/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/11/TiltHoverEffects_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="tilthovereffects_featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/11/23/tilt-hover-effects/">Tilt Hover Effects</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/playground/">Playground</a>
                                            by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a>
                                            <time pubdate="pubdate">Nov 23, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/11/23/tilt-hover-effects/#comments">24 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28788" class="post-28788 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-flexbox tag-layout tag-svg tag-template">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/11/18/surf-report-template/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/11/SurfReport_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="surfreport_featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/11/18/surf-report-template/">Surf Report Template</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/playground/">Playground</a>
                                            by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a>
                                            <time pubdate="pubdate">Nov 18, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/11/18/surf-report-template/#comments">12 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28603" class="post-28603 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-3d tag-animation tag-calendar tag-cube tag-layout tag-perspective">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/11/09/cubes-advent-calendar/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/11/CubesAdventCalendar_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="cubesadventcalendar_featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/11/09/cubes-advent-calendar/">Cubes Advent Calendar</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/playground/">Playground</a>
                                            by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a>
                                            <time pubdate="pubdate">Nov 9, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/11/09/cubes-advent-calendar/#comments">10 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28564" class="post-28564 post type-post status-publish format-standard has-post-thumbnail hentry category-freebies tag-freebie tag-icon tag-svg tag-winter">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/11/04/freebie-winter-sports-icons/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/11/Freebie_WinterSportsIcons_Featured-105x105.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="freebie_wintersportsicons_featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/11/04/freebie-winter-sports-icons/">Freebie: Winter Sports Icons (SVG, PNG)</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/freebies/">Freebies</a>
                                            by <a href="https://tympanus.net/codrops/author/helenaz/">Freepik</a>
                                            <time pubdate="pubdate">Nov 4, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/11/04/freebie-winter-sports-icons/#comments">2 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28524" class="post-28524 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-effect tag-hover tag-image tag-mix-blend-mode tag-video">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/11/01/media-pop-up-effect/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/11/MediaPopUpEffect_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="mediapopupeffect_featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/11/01/media-pop-up-effect/">Artsy Media Pop Up Effect</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/playground/">Playground</a>
                                            by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a>
                                            <time pubdate="pubdate">Nov 1, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/11/01/media-pop-up-effect/#comments">12 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28480" class="post-28480 post type-post status-publish format-standard has-post-thumbnail hentry category-freebies tag-freebie tag-icon tag-icon-set tag-svg tag-virtual-reality">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/10/27/freebie-virtual-reality-icons/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/10/Freebie_VirtualReality_Featured-105x105.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Freebie_VirtualReality_Featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/10/27/freebie-virtual-reality-icons/">Freebie: Virtual Reality Icons</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/freebies/">Freebies</a>
                                            by <a href="https://tympanus.net/codrops/author/mlangella/">Manuela Langella</a>
                                            <time pubdate="pubdate">Oct 27, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/10/27/freebie-virtual-reality-icons/#comments">10 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28372" class="post-28372 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-letter tag-typography">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/10/18/inspiration-for-letter-effects/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/10/LetterEffects_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="LetterEffects_Featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/10/18/inspiration-for-letter-effects/">Inspiration for Letter Effects</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/playground/">Playground</a>
                                            by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a>
                                            <time pubdate="pubdate">Oct 18, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/10/18/inspiration-for-letter-effects/#comments">24 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28304" class="post-28304 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-decoration tag-layout tag-line">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/10/12/animated-decorative-lines/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/10/LineMaker_Featured-105x105.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="LineMaker_Featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/10/12/animated-decorative-lines/">Line Maker: Animated Decorative Lines</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/playground/">Playground</a>
                                            by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a>
                                            <time pubdate="pubdate">Oct 12, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/10/12/animated-decorative-lines/#comments">15 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <article id="post-28121" class="post-28121 post type-post status-publish format-standard has-post-thumbnail hentry category-tutorials tag-animation tag-effect tag-mask tag-slideshow tag-transition">
                                    <div class="ct-latest-thumb">
                                        <a href="https://tympanus.net/codrops/2016/09/29/transition-effect-with-css-masks/">
                                            <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/09/CSSMaskTransition_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="CSSMaskTransition_Featured" />
                                        </a>
                                    </div>
                                    <header>
                                        <h3><a href="https://tympanus.net/codrops/2016/09/29/transition-effect-with-css-masks/">Transition Effect with CSS Masks</a></h3>
                                        <p class="ct-subline">
                                            In <a href="https://tympanus.net/codrops/category/tutorials/">Tutorials</a>
                                            by <a href="https://tympanus.net/codrops/author/robin/">Robin Delaporte</a>
                                            <time pubdate="pubdate">Sep 29, 2016</time>
                                            <a href="https://tympanus.net/codrops/2016/09/29/transition-effect-with-css-masks/#comments">19 Comments</a>
                                        </p>
                                    </header>
                                    <div class="clr"></div>
                                </article>
                                <!-- end latest list -->
                                <footer class="ct-latest-bottom">
                                    <a href="/codrops/all-articles">View all</a>
                                </footer>
                            </section>

                        </div>
                        <div class="index-wrap-left">
                            <section class="ct-cssref-widget">
                                <div class="ct-cssref-widget__inner">
                                    <h2 class="ct-heading-medium"><a href="/codrops/css_reference/">CSS Reference</a></h2>
                                    <div class="ct-cssref-searchinput ct-cssref-searchinput--inverted">
                                        <form method="get" id="searchform-cssref" action="https://tympanus.net/codrops/">
                                            <span class="ct-icon-search"></span>
                                            <input placeholder="e.g. mask-image" type="text" value="" name="s" id="s2" />
                                            <input type="hidden" name="search-type" value="css_reference" />
                                            <input type="submit" value="" />
                                        </form>
                                    </div>
                                    <footer class="ct-cssref-widget__footer">
                                        <a href="/codrops/css_reference">All entries</a>
                                    </footer>
                                </div>
                            </section>
                            <!-- Latest Collective Posts -->
                            <section class="ct-latest-any ct-coll-archive">
                                <div class="ct-latest-any-wrap">
                                    <h2>Latest web design &amp; development news:</h2>
                                    <article id="post-29324" class="post-29324 collective type-collective status-publish has-post-thumbnail hentry">
                                        <div class="ct-latest-thumb">
                                            <a href="https://tympanus.net/codrops/collective/collective-273/" class="ct-trans">
                                                <img width="200" height="259" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/12/Cover_Collective_273.png" class="attachment-collective-thumb size-collective-thumb wp-post-image" alt="cover_collective_273" />
                                            </a>
                                        </div>
                                        <h3><a href="https://tympanus.net/codrops/collective/collective-273/" class="">Collective #273</a></h3>
                                        <p class="ct-feat-excerpt">
                                            neveragain.tech * Animation in Design Systems * UI motion design * Peekier * Vuetify * Leapy Grid * Styling Web Componen...
                                        </p>
                                        <div class="clr"></div>
                                    </article>
                                    <article id="post-29281" class="post-29281 collective type-collective status-publish has-post-thumbnail hentry">
                                        <div class="ct-latest-thumb">
                                            <a href="https://tympanus.net/codrops/collective/collective-272/" class="ct-trans">
                                                <img width="200" height="259" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/12/Cover_Collective_272.png" class="attachment-collective-thumb size-collective-thumb wp-post-image" alt="cover_collective_272" />
                                            </a>
                                        </div>
                                        <h3><a href="https://tympanus.net/codrops/collective/collective-272/" class="">Collective #272</a></h3>
                                        <p class="ct-feat-excerpt">
                                            Kakoune Code Editor * Voca * Flexible Boxes * Split 3D Carousel * radio.garden * The (Unofficial) CanIUse Embed * Launch...
                                        </p>
                                        <div class="clr"></div>
                                    </article>
                                    <article id="post-29031" class="post-29031 collective type-collective status-publish has-post-thumbnail hentry">
                                        <div class="ct-latest-thumb">
                                            <a href="https://tympanus.net/codrops/collective/collective-271/" class="ct-trans">
                                                <img width="200" height="259" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/12/Cover_Collective_271.png" class="attachment-collective-thumb size-collective-thumb wp-post-image" alt="cover_collective_271" />
                                            </a>
                                        </div>
                                        <h3><a href="https://tympanus.net/codrops/collective/collective-271/" class="">Collective #271</a></h3>
                                        <p class="ct-feat-excerpt">
                                            Siema * IO * Gitscout * JavaScript30 * Progressive Web AMPs * Server Side React * Dumb Password Rules * Imzy * The State...
                                        </p>
                                        <div class="clr"></div>
                                    </article>
                                    <footer class="ct-latest-any-bottom">
                                        <a href="/codrops/collective">View all</a>
                                    </footer>
                                </div>
                            </section><!-- // Latest Collective Posts -->
                            <!-- Latest Blueprints -->
                            <section class="ct-latest-any ct-latest-blueprint">
                                <div class="ct-latest-any-wrap">
                                    <h2>Latest Blueprints</h2>
                                    <article id="post-25521" class="post-25521 post type-post status-publish format-standard has-post-thumbnail hentry category-blueprints tag-menu">
                                        <div class="ct-latest-thumb">
                                            <a href="https://tympanus.net/codrops/2015/11/17/multi-level-menu/" class="ct-trans">
                                                <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2015/11/Blueprint_MutliLevelMenu-105x105.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Blueprint_MutliLevelMenu" />
                                            </a>
                                        </div>

                                        <h3>
                                            <a href="https://tympanus.net/codrops/2015/11/17/multi-level-menu/">
                                                Multi-Level Menu
                                            </a>
                                        </h3>


                                        <div class="clr"></div>
                                    </article>
                                    <article id="post-25311" class="post-25311 post type-post status-publish format-standard has-post-thumbnail hentry category-blueprints tag-menu tag-navigation">
                                        <div class="ct-latest-thumb">
                                            <a href="https://tympanus.net/codrops/2015/10/21/page-stack-navigation/" class="ct-trans">
                                                <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2015/10/BlueprintStacked-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="BlueprintStacked" />
                                            </a>
                                        </div>

                                        <h3>
                                            <a href="https://tympanus.net/codrops/2015/10/21/page-stack-navigation/">
                                                Page Stack Navigation
                                            </a>
                                        </h3>


                                        <div class="clr"></div>
                                    </article>
                                    <article id="post-24330" class="post-24330 post type-post status-publish format-standard has-post-thumbnail hentry category-blueprints tag-slider">
                                        <div class="ct-latest-thumb">
                                            <a href="https://tympanus.net/codrops/2015/07/06/zoom-slider/" class="ct-trans">
                                                <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2015/07/BlueprintZoomSlider-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="BlueprintZoomSlider" />
                                            </a>
                                        </div>

                                        <h3>
                                            <a href="https://tympanus.net/codrops/2015/07/06/zoom-slider/">
                                                Zoom Slider
                                            </a>
                                        </h3>


                                        <div class="clr"></div>
                                    </article>
                                    <footer class="ct-latest-any-bottom">
                                        <a href="/codrops/category/blueprints">View all</a>
                                    </footer>
                                </div>
                            </section>
                            <!-- Latest News -->
                            <section class="ct-latest-any">
                                <div class="ct-latest-any-wrap">
                                    <h2>News &amp; Updates:</h2>
                                    <article id="post-25837" class="post-25837 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
                                        <div class="ct-latest-thumb">
                                            <a href="https://tympanus.net/codrops/2015/12/31/a-look-back-at-2015-round-up-of-codrops-resources/" class="ct-trans">
                                                <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2015/12/codrops2015-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="codrops2015" />
                                            </a>
                                        </div>

                                        <h3>
                                            <a href="https://tympanus.net/codrops/2015/12/31/a-look-back-at-2015-round-up-of-codrops-resources/">
                                                A Look Back at 2015: Round-up of Codrops Resources
                                            </a>
                                        </h3>


                                        <div class="clr"></div>
                                    </article>
                                    <article id="post-23618" class="post-23618 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-animation tag-input tag-pseudo-element tag-transition">
                                        <div class="ct-latest-thumb">
                                            <a href="https://tympanus.net/codrops/2015/03/18/inspiration-text-input-effects-2/" class="ct-trans">
                                                <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2015/03/TextInputEffects_Set2-e1426679809310-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="TextInputEffects_Set2" />
                                            </a>
                                        </div>

                                        <h3>
                                            <a href="https://tympanus.net/codrops/2015/03/18/inspiration-text-input-effects-2/">
                                                Some More Inspiration for Text Input Effects
                                            </a>
                                        </h3>


                                        <div class="clr"></div>
                                    </article>
                                    <footer class="ct-latest-any-bottom">
                                        <a href="/codrops/category/news">View all</a>
                                    </footer>
                                </div>
                            </section>
                        </div><!-- /index-wrap-left -->
                        <div class="clr"></div>
                    </div><!-- /index-wrap-->
                </div><!-- /main-->
                <aside class="ct-sidebar">
                    <div class="ct-ads">
                        <div class="ct-ads-info">
                            <h4>Advertisement</h4>
                            <a href="/codrops/advertise/" class="ct-advertise-here">
                                <i class="ct-icon-info"></i>
                                <span>Advertise Here</span>
                            </a>
                        </div>
                        <div id="bsap_1275127" class="bsarocks bsap_af25dfd2f1908889af7a1aa5f4dcbd9e"></div>
                        <div id="bsap_1243201" class="bsarocks bsap_af25dfd2f1908889af7a1aa5f4dcbd9e"></div>
                        <div class="clr"></div>
                    </div>

                    <div class="ct-widget-wrapper">

                        <div class="ct-widget ct-widget-deals">
                            <h5>Check out our deals &amp; offers!</h5>
                            <article>
                                <div class="ct-latest-thumb">
                                    <a href="/codrops/deals/">
                                        <img src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/themes/codropstheme03/images/gifticon.png" alt="Deals Thumbnail">
                                    </a>
                                </div>
                                <p><strong>Find great discounts for many useful services and resources on our <a href="/codrops/deals/">Deals &amp; Offers</a> page!</strong></p>
                                <div class="clr"></div>
                            </article>
                        </div>




                        <div class="ct-widget ct-widget-default">
                            <h5>Hot on Codrops:</h5>
                            <article id="post-28603" class="post-28603 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-3d tag-animation tag-calendar tag-cube tag-layout tag-perspective">

                                <div class="ct-latest-thumb">
                                    <a href="https://tympanus.net/codrops/2016/11/09/cubes-advent-calendar/" class="ct-trans">
                                        <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/11/CubesAdventCalendar_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="cubesadventcalendar_featured" />
                                    </a>
                                </div>
                                <h3><a href="https://tympanus.net/codrops/2016/11/09/cubes-advent-calendar/" class="">Cubes Advent Calendar</a></h3>

                                <div class="clr"></div>
                            </article>
                            <article id="post-28524" class="post-28524 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-effect tag-hover tag-image tag-mix-blend-mode tag-video">

                                <div class="ct-latest-thumb">
                                    <a href="https://tympanus.net/codrops/2016/11/01/media-pop-up-effect/" class="ct-trans">
                                        <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/11/MediaPopUpEffect_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="mediapopupeffect_featured" />
                                    </a>
                                </div>
                                <h3><a href="https://tympanus.net/codrops/2016/11/01/media-pop-up-effect/" class="">Artsy Media Pop Up Effect</a></h3>

                                <div class="clr"></div>
                            </article>
                            <article id="post-28372" class="post-28372 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-animation tag-letter tag-typography">

                                <div class="ct-latest-thumb">
                                    <a href="https://tympanus.net/codrops/2016/10/18/inspiration-for-letter-effects/" class="ct-trans">
                                        <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/10/LetterEffects_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="LetterEffects_Featured" />
                                    </a>
                                </div>
                                <h3><a href="https://tympanus.net/codrops/2016/10/18/inspiration-for-letter-effects/" class="">Inspiration for Letter Effects</a></h3>

                                <div class="clr"></div>
                            </article>
                            <article id="post-28039" class="post-28039 post type-post status-publish format-standard has-post-thumbnail hentry category-playground tag-background tag-clip tag-effect tag-image">

                                <div class="ct-latest-thumb">
                                    <a href="https://tympanus.net/codrops/2016/09/21/background-segment-effect-with-css-clip/" class="ct-trans">
                                        <img width="105" height="105" src="https://codropspz-tympanus.netdna-ssl.com/codrops/wp-content/uploads/2016/09/SegmentEffect_Featured-105x105.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="SegmentEffect_Featured" />
                                    </a>
                                </div>
                                <h3><a href="https://tympanus.net/codrops/2016/09/21/background-segment-effect-with-css-clip/" class="">Background Segment Effect</a></h3>

                                <div class="clr"></div>
                            </article>
                        </div>

                    </div>

                    <div class="ct-ads">
                        <div class="ct-ads-info">
                            <h4>Advertisement</h4>
                            <a href="/codrops/advertise/" class="ct-advertise-here">
                                <i class="ct-icon-info"></i>
                                <span>Advertise Here</span>
                            </a>
                        </div>
                        <div id="bsap_1298539" class="bsarocks bsap_af25dfd2f1908889af7a1aa5f4dcbd9e"></div>
                    </div>


                    <div class="clr"></div>
                </aside>

                <div class="clr"></div>
            </div>
        </div>
        <footer class="ct-footer">

            <div class="ct-inner ct-cf">
                <nav class="ct-cf">
                    <ul>
                        <li><a href="/codrops/category/tutorials/">Tutorials</a></li>
                        <li><a href="/codrops/category/articles/">Articles</a></li>
                        <li><a href="/codrops/category/playground/">Playground</a></li>
                        <li><a href="/codrops/category/blueprints/">Blueprints</a></li>
                        <li><a href="/codrops/css_reference/">CSS Reference</a></li>
                    </ul>
                    <ul>
                        <li><a href="/codrops/category/news/">News</a></li>
                        <li><a href="/codrops/category/giveaways/">Giveaways</a></li>
                        <li><a href="/codrops/category/freebies/">Freebies</a></li>
                        <li><a href="/codrops/collective/">Collective</a></li>
                    </ul>
                    <ul>
                        <li><a href="/codrops/about/">About</a></li>
                        <li><a href="/codrops/contact/">Contact</a></li>
                        <li><a href="/codrops/archives/">Archives</a></li>
                        <li><a href="/codrops/deals/">Deals</a></li>
                        <li><a href="/codrops/advertise/">Advertise</a></li>
                    </ul>
                    <ul>
                        <li><a href="/codrops/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="/codrops/licensing/">License</a></li>
                        <li><a href="/codrops/credits/">Credits</a></li>
                        <li><a href="/codrops/impressum/">Impressum</a></li>
                    </ul>
                </nav>
                <div class="ct-items ct-cf">
                    <div class="ct-item ct-copyright">
                        <span>&copy; Codrops 2016 by</span>
                        <a href="http://tympanus.net/" title="Tympanus">Tympanus</a>
                    </div>
                    <div class="ct-item ct-cdn">
                        <span>Content delivered by</span>
                        <a href="https://www.maxcdn.com" title="Content Distribution Network" target="blank">Content Distribution Network</a>
                    </div>
                </div>
            </div>
        </footer>
        <script type='text/javascript' src='https://tympanus.net/codrops/wp-content/plugins/wp-typeahead/js/typeahead.min.js?ver=4.6.1'></script>
        <script type='text/javascript' src='https://tympanus.net/codrops/wp-content/plugins/wp-typeahead/js/hogan.min.js?ver=4.6.1'></script>
        <script type='text/javascript'>
/* <![CDATA[ */
var wp_typeahead = {"ajaxurl":"https:\/\/tympanus.net\/codrops\/wp-admin\/admin-ajax.php"};
/* ]]> */
        </script>
        <script type='text/javascript' src='https://tympanus.net/codrops/wp-content/plugins/wp-typeahead/js/wp-typeahead.js?ver=4.6.1'></script>
        <script type='text/javascript' src='https://codropspz-tympanus.netdna-ssl.com/codrops/wp-includes/js/wp-embed.min.js?ver=4.6.1'></script>
    </div><!--ct-container-->
</body>
</html>
